/* css reset  */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
source {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* main style  */

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  /*400 and 700 */
  /* font-family: "Lexend Deca", sans-serif; 400 */
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  padding: 1.6em;
  /* this will center it both vertical and horizontally */
  display: grid;
  place-content: center;
}

main {
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

picture {
  background: hsl(277, 64%, 61%);
}

img {
  opacity: 0.7;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  width: 100%;
}

.content {
  padding: 2em;
}

#title {
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.2em;
  margin: 0.6em 0;
}

.purple {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  font-weight: 400;
  margin-bottom: 2.5em;
  line-height: 1.5rem;
}

.flex {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1em;
}

.valign:last-of-type {
  margin-bottom: 0.4em;
  text-transform: uppercase;
}

.df {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

/* todo the responsive part needs work and i am done */
@media only screen and (min-width: 700px) {
  main {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
  .content {
    padding: 4rem;
    padding-right: 7em;
  }

  .content,
  picture {
    width: 50%;
  }

  p {
    text-align: left;
    margin-bottom: 5em;
  }
  #title {
    font-size: 2rem;
    text-align: left;
  }
  .flex {
    display: flex;
    gap: 2.5em;
  }

  .valign {
    text-align: left;
  }
}
