/* css reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
source {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* main style  */
